/* POPPINS FONT FAMILY */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
/* header started here */
header {
  background-color: #3944f7;
  height: 500px;
}
nav {
  float: right;
}
img.logo {
  margin: 30px;
}
nav {
  float: right;
  margin: 30px;
}
a.nav-item {
  margin-right: 25px;
  font-size: 14px;
  color: #fff;
}
a.nav-item-active {
  margin-right: 25px;
  background-color: #fff;
  color: #3944f7;
  padding: 5px;
  font-size: 14px;
  border-radius: 4px;
}
/* banner text started here */
.header-text {
  float: left;
  margin-left: 50px;
}
.header-image {
  float: right;
}
.header-text h2 {
  color: #fff;
  font-weight: 500;
}
.header-text p {
  color: #f3cfcf;
  font-size: 14px;
  margin-top: 15px;
}
.header-text {
  position: absolute;
  top: 50%;
}
.companies {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px 0;
}
a.company-items {
  text-decoration: none;
  font-size: 18px;
  color: #000;
  font-weight: 700;
  margin-right: 75px;
}
